<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://192.168.0.222:8080</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.0.222</MSDeployServiceURL>
    <DeployIisAppPath>bsoft</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>Администратор</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=192.168.0.222\SQLEXPRESS;Initial Catalog=bsoft;User ID=bsoft;Password=TME3ZAf2MMqsPY;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="bsoft_dms_mw.Models.ApplicationDbContext, bsoft-dms-mw" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BSoftEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=192.168.0.222\SQLEXPRESS;Initial Catalog=bsoft;User ID=bsoft;Password=TME3ZAf2MMqsPY;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BLL.BLL.BSoftEntities, BLL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EntitiesBSOFT_INI_REAL" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=88.198.16.119:21521/XE;PASSWORD=BSOFT_INI_REAL;PERSIST SECURITY INFO=True;USER ID=BSOFT_INI_REAL" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EntitiesBSOFT_INI_REAL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=88.198.16.119:21521/XE;PASSWORD=BSOFT_INI_REAL;PERSIST SECURITY INFO=True;USER ID=BSOFT_INI_REAL" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EntitiesBSOFT_DOB_REAL" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=88.198.16.119:21521/XE;PASSWORD=BSOFT_DOB_REAL;PERSIST SECURITY INFO=True;USER ID=BSOFT_DOB_REAL" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EntitiesBSOFT_DOB_REAL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=88.198.16.119:21521/XE;PASSWORD=BSOFT_DOB_REAL;PERSIST SECURITY INFO=True;USER ID=BSOFT_DOB_REAL" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EntitiesBSOFT_DOB" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=88.198.16.119:21521/XE;PASSWORD=BSOFT_DOB;PERSIST SECURITY INFO=True;USER ID=BSOFT_DOB" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EntitiesBSOFT_DOB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=88.198.16.119:21521/XE;PASSWORD=BSOFT_DOB;PERSIST SECURITY INFO=True;USER ID=BSOFT_DOB" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EntitiesBSOFT_INI" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=88.198.16.119:21521/XE;PASSWORD=BSOFT_INI;PERSIST SECURITY INFO=True;USER ID=BSOFT_INI" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EntitiesBSOFT_INI_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=88.198.16.119:21521/XE;PASSWORD=BSOFT_INI;PERSIST SECURITY INFO=True;USER ID=BSOFT_INI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BSoftEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/BLL.BSoftModel.csdl|res://*/BLL.BSoftModel.ssdl|res://*/BLL.BSoftModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.0.222\SQLEXPRESS;Initial Catalog=bsoft;User ID=bsoft;Password=TME3ZAf2MMqsPY;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=192.168.0.222\SQLEXPRESS;Initial Catalog=bsoft;User ID=bsoft;Password=TME3ZAf2MMqsPY;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EntitiesBSOFT_DOB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EntitiesBSOFT_DOB_REAL-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EntitiesBSOFT_INI-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EntitiesBSOFT_INI_REAL-Web.config Connection String" />
  </ItemGroup>
</Project>