@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using DMS_WebAPI.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "API.V3 Help Page";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
  <div class="content-wrapper">
    <div class="float-left">
      <h1>@ViewBag.Title</h1>
    </div>
  </div>
</header>
<div id="body" class="help-page">
  <section class="featured">
    <div class="content-wrapper">
      <h2>Описание АПИ функций версии V3</h2>

      <p class="important_text">
        Общие принципы построения системы находятся в
        <a href="https://workflowy.com/s/sefk5EUIQ7">Workflowy</a>
      </p>
      <p>
        Апи v3 построено на основе Module - Feature, согласовано
        <a href="https://docs.google.com/spreadsheets/d/1M-WISeWbl8ai40ATeliRam9d-HfkZSTSDN8Vobzvksc/edit?usp=sharing">Rest Architectual Concept</a>
      </p>
    </div>
  </section>
  <section class="content-wrapper main-content clear-fix">
    @foreach (var group in apiGroups
                                .Where(g => g.Key.ControllerType.FullName.Contains("ControllersV3."))
                                .OrderBy(g => g.Key.ControllerType.FullName.Replace("Info", "A_Info").Replace(".Lists", ".AA_Lists").Replace(".User", ".WW_User").Replace(".System", ".ZZ_System"))
                                .ThenBy(g => g.Key.ControllerName))
    {

        @Html.DisplayFor(m => group, "ApiGroup")
    }
  </section>
</div>
