@model DMS_WebAPI.Models.RestorePasswordModel

@{
    Layout = null;
}

<div>
  <br>
  @Model.Greeting 
  <br>
  <br>
  Кто-то попросил изменить Ваш пароль для аккаунта Ostrean. Если это были Вы, поменяйте пароль, пройдя по этой ссылке:
  <br>
  <br>
  <a style="border-radius: 4px;font-size: 15px;color: white;text-decoration: none;padding: 14px 7px 14px 7px;width: 210px;max-width: 210px;font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Arial;margin: 0;display: block;background-color: #007ee6;text-align: center;"
     href='@Model.CallToActionUrl' target="_blank" rel="noopener">@Model.CallToActionName</a>
  <br>
  <br>
  Если Вы не хотите менять пароль или этот запрос сделал кто-то другой, просто проигнорируйте данное сообщение и удалите его.
  <br>
  <br>
  @Model.Closing
</div>