@model DMS_WebAPI.Models.RestorePasswordModel

@{
    Layout = null;
}

<div>
  <br>
  Здравствуйте, @Model.FirstName!  
  <br>
  <br>
  Кто-то попросил изменить Ваш пароль для аккаунта Ostrean. Если это были Вы, поменяйте пароль, пройдя по этой ссылке:
  <br>
  <br>
  <a style="border-radius: 4px;font-size: 15px;color: white;text-decoration: none;padding: 14px 7px 14px 7px;width: 210px;max-width: 210px;font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Arial;margin: 0;display: block;background-color: #007ee6;text-align: center;"
     href='@Model.Url' target="_blank" rel="noopener">Сбросить пароль</a>
  <br>
  Если Вы не хотите менять пароль или этот запрос сделал кто-то другой, просто проигнорируйте данное сообщение и удалите его.
  <br>
  <br>
  Пожалуйста, никому не пересылайте это сообщение, иначе безопасность Вашего аккаунта окажется под угрозой. В нашем справочном центре Вы найдете <a href="https://www.dropbox.com/l/AADzRHyq4aDg0YBAjiCNeqWDkIGFaCFE2X0/help/365" target="_blank" rel="noopener">подробную информацию о мерах безопасности</a>.
  <br>
  <br>
  Пользуйтесь с удовольствием!
</div>