@model DMS_WebAPI.Models.WelcomeEmailModel

@{
    Layout = null;
}

<div>
  <br>
  <br>
  Здравствуйте, @Model.FirstName!
  <br>
  <br>
  Рады Вам сообщить, что @Model.InvitingName приглашает Вас в качестве сотрудника в компанию @Model.ClientName!
  <br>
  <br>
  Для начала работы в Docum нажмите на эту ссылку:
  <br>
  <br>
  <a style="border-radius: 4px;font-size: 15px;color: white;text-decoration: none;padding: 14px 7px 14px 7px;width: 210px;max-width: 210px;font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Arial;margin: 0;display: block;background-color: #007ee6;text-align: center;"
     href='@Model.Url' target="_blank" rel="noopener">Начать работу в Ostrean</a>
  <br>
  <br>
  С уважением,<br>команда Ostrean.
</div>