<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://api.ostrean.com:81</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>194.247.18.39</MSDeployServiceURL>
    <DeployIisAppPath>bsoft_dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>testadmin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DMS_WebAPI.Models.ApplicationDbContext" Order="7" Enabled="False">
          <Destination Path="Data Source=194.247.18.39\SQLEXPRESS,1433;Initial Catalog=DEV_IRF_DMS;User ID=bsoft;Password=TME3ZAf2MMqsPY;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DMS_WebAPI.Models.ApplicationDbContext, DMS_WebAPI" MigrationConfiguration="DMS_WebAPI.Migrations.Configuration, DMS_WebAPI" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BL.Database.DatabaseContext.DmsContext" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BL.Database.DatabaseContext.DmsContext, BL.Database" MigrationConfiguration="BL.Database.Migrations.Configuration, BL.Database" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=194.247.18.39\SQLEXPRESS,1433;Initial Catalog=PROD_IRF_DMS_WEBAPI;User ID=bsoft;Password=TME3ZAf2MMqsPY;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=194.247.18.39\SQLEXPRESS,1433;Initial Catalog=PROD_IRF_DMS_WEBAPI;User ID=bsoft;Password=TME3ZAf2MMqsPY;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BL.Database.DatabaseContext.DmsContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DMS_WebAPI.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=194.247.18.39\SQLEXPRESS,1433;Initial Catalog=DEV_IRF_DMS;User ID=bsoft;Password=TME3ZAf2MMqsPY;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="BL.Database.DatabaseContext.DmsContext" />
    <_ConnectionStringsToInsert Include="DMS_WebAPI.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>