<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LinqKit" version="1.1.7.2" targetFramework="net461" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net461" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net461" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
</packages>